#nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    background-color: rgb(163, 174, 202);
}

#nav li{
    margin: 10px;
    padding: 10px 15px;   
}

#nav li:hover{
    background-color: rgb(218, 255, 160);
}

#nav a{
    text-decoration: none;
}

/* Modelo de caja */
.padre{
    background-color: lightslategrey;
    padding: 20px;
}
.hijo{
    background-color: coral;
    padding: 50px;
    border: 10px solid cornflowerblue;
    margin: 30px;
}

/* Componente */
#contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(172, 185, 159);
    gap: 1rem;
}
.card{
    width: 200px;
    background-color:#fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px black;
}
.card img{
    width: 100%;
    border-radius: 8px;
}
.card p{
    color: #fff;
    background-color: rgb(7, 113, 78);
}

/* Carrito de compras (Producto)*/
#carritoLista{
    list-style: none;
    padding: 10px;
    margin: 20px;
    border: 20 px solid rgb(186, 4, 4);
    background-color: rgb(13, 41, 41);
    color: white;
}

/* Concurrencia */
pre{
    text-align: left;
    background-color: rgb(21, 1, 1);
    padding: 1rem;
    border-radius: 10px;
    width: 80%;
    color: rgb(154, 255, 252);
}

/* Try Catch */
#bodyTry{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mensaje{
    font-weight: bold;
    color:rgb(210, 54, 30);
}